<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
      <a href="/home">Gabble Home</a>
      <div></div>
      <a href="/newGabble">Create a new gabble</a>
      <div></div>
      <a href="/logout">Logout</a>
    </header>

  <section>
    {{#userInfo}}
    <h1>Welcome {{displayName}}</h1>
    {{/userInfo}}
    {{#allMessages}}
    <div class="singleGabble">
      <p>User Id: {{user.username}} </p>
      <p>Gab: {{text}} </p>
      <p>{{createdAt}}  Like by: <a href="/likesFor/{{id}}">{{likes}} Users.</a></p>
      <form class="" action="/likeGabble/{{id}}" method="post">
        <input type="submit" name="" value="Like! <3">
      </form>
      <form class="" action="/deleteGabble/{{id}}" method="post">
        <input type="submit" name="" value="Delete">
      </form>
    </div>
    {{/allMessages}}
  </section>
</body>

</html>
