<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
      <a href="home">Gabble Home</a>
      <div></div>
      <a href="newGabble">Create a new gabble</a>
      <div></div>
      <a href="logout">Logout</a>
    </header>

  <section>
    {{#userInfo}}
    <h1>Welcome {{displayName}}</h1>
    {{/userInfo}}
    <p>all gabbles in order by time</p>
    {{#allMessages}}
    <div class="singleGabble">
      <p>User Id{{userId}}: {{text}} </p>
      <p>{{createdAt}}  Likes:{placeholder}</p>
    </div>
    {{/allMessages}}
    <p>end all gabbles in order by time</p>
  </section>
</body>

</html>
