body{
  background-color: lightblue;
}

form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header{
  border: 1px solid steelblue;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

header div{
border: 1px solid red;
}
